@model DigitalLearningExamingSystem.Models.Exampaper

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exampaper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ExampapaerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExampapaerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeacherId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeacherId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeanGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeanGrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionIds)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionIds)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Teacher") && Model.TeacherId == User.Identity.Name)
    {
        @Html.ActionLink("編輯考卷", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
    }
    @Html.ActionLink("回考卷庫", "Index", null, new { @class = "btn btn-success" })
</p>
